!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
.env
/coverage/*
/storage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*
.byebug_history
.irbrc_history
.irb_history

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/vendor
/.cache/

/config/credentials/*.key
.vscode/settings.json
